<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Navbar</title>
    <style>
        .navbar {
            background-image: url('bg.jpg');
        }
        .navbar .nav-link, .navbar .navbar-brand, .navbar .btn {
            color: brown;
            font-size: 20px !important;
        }
        .navbar .nav-link:hover, .navbar .btn:hover {
            color: red;
        }
        .additional-navbar {
            background-color: brown;
        }
        .additional-navbar .nav-link {
            color: brown;
            font-size: 20px !important;
            margin-left: 20px !important;
        }
        .additional-navbar .nav-link:hover {
            color: red;
        }
        .additional-navbar .navbar-nav {
            margin: 0 auto;
        }
    </style>
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="logo" th:src="@{/logo.jpg}" alt="Logo"></a>
        <form class="d-flex ms-3">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="theme-button btn1" type="submit">Search</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- If user is not logged in -->
                <li class="nav-item" th:if="${user == null}">
                    <a class="nav-link" aria-current="page" href="/login">Signin</a>
                </li>
                <li class="nav-item" th:if="${user == null}">
                    <a class="nav-link" aria-current="page" href="/signup">Signup</a>
                </li>
                <!-- If user is logged in -->
                <li class="nav-item" th:if="${user != null}">
                    <a class="nav-link active" aria-current="page" href="#">Hello, <span th:text="${user.name}">User</span></a>
                </li>
                <li class="nav-item" th:if="${user != null}">
                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
                <!-- Show links for 'admin' -->
                <li class="nav-item" th:if="${user != null and user.type == 'admin'}">
                    <a class="nav-link active" aria-current="page">Admin</a>
                </li>
                <li class="nav-item" th:if="${user != null and user.type == 'admin'}">
                    <a class="nav-link active" aria-current="page" href="orders">Change Order Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart"><span class="badge text-bg-danger" th:text="${cartQty}">0</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Additional Links -->
<nav class="navbar navbar-expand-lg additional-navbar mt-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Franchise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Careers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
